Users can register
Users can login

Each user can:
    Create todo
    Update todo
    Delete todo
    View only their own todos

JWT authentication 
Secure password storage
Dockerized environment

JWT_test_token = { "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjRhZjNjNDMxLTViNDYtNGIzNS1hMGNmLTYxYmUzYzQ4ODJkZCIsImlhdCI6MTc3MTQ4NzA5MCwiZXhwIjoxNzcxNTczNDkwfQ.dfEYh64wlgYiev2xBlZ4agxDjJFFoiiCNz55jA8uXCc" }